/Framework/dist/
/Framework/nbproject/private/
/test-framework/nbproject/private/
/Framework/build/
/test-framework/build/
/test-framework/dist/
/simplex/nbproject/private/
/simplex/build/
/Simplex2/nbproject/private/
